<!DOCTYPE html>
<html>
<!--Created by Kiran Kurian-->
 <head>
		<title>TextTalk</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<!-- <noscript> -->
			<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css') }}" />
		<!-- </noscript> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
 <body>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


 	<section id="header">
				<div class="inner">
					
					<h1><strong>{{filename}}</strong></h1>
					<ul class="actions">
						<li><div id="target" class="button">Make Me Talk</div></li>
					</ul>
				</div>
			</section>
  
  
	<!-- <h2 id="target">Click here to hear a masterpiece</h2> -->
	<section id="one" class="main style1">
				<div class="container">
					<div class="row 150%">
						<div class="12u 12u$(medium)">
	<center><p>  {%for line in content%}
  	{{line}}
  	<br>
	{%endfor%} </p></center>
</div>
</div>
</div>

	

<script> 
console.log("Entered the script");
var myContent = $('p:first').text() ;
console.log("Got the text");

console.log("Hid the text");
var utterance = new SpeechSynthesisUtterance( myContent );
console.log("Got the words to say");

$( "#target" ).click(function() {
	console.log("About to serenade you");
	window.speechSynthesis.speak(utterance);
	console.log("*bow*");
});



</script>
</body>
 
</html>
